# Dependencies
node_modules/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
